<html>
    <head>
      <title> - Baseball</title>
      <title>Welcome to Baseball</title>
    </head>
    <body>
        <div>
			Baseball: 
			<a href={{ url_for('index') }} >Home</a>
			<a href={{ url_for('login') }} >Login</a>
            <a href={{ url_for('/home/bitnami/htdocs/Lightsail-Setup-Custom-Domain-SSL/Lightsail-Setup-Custom-Domain-SSL-main/temp_data.txt') }} >Feeding</a>
			<a href={{ url_for('index') }} >Go Back</a>			
	</div>
        <hr>
        <ul>
            <li></li>
        </ul>
    </body>
</html>
