<!-- <html>
    <head>
      <title> - PETNET</title>
      <title>Welcome to PETNET-ECOSYSTEM</title>
    </head>
    <body>
        <div>
			Petnet: 
            <a href="file:////home/bitnami/htdocs/Lightsail-Setup-Custom-Domain-SSL/Lightsail-Setup-Custom-Domain-SSL-main/temp_data.txt">Feeding</a>
			<a href={{ url_for('index') }} >Go Back</a>			
	</div>
        <hr>
        <ul>
            <li></li>
        </ul>
    </body>
</html> -->

{% extends "base.html" %}
	<h1>Hello!</h1>
	<table><tr><th>Name</th><th>Year</th><th>RC</th></tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	</table>

