<!DOCTYPE html>
<html>
    <head>
      <title> - PETNET</title>
      <title>Welcome to PETNET-ECOSYSTEM</title>
    </head>
    <body>
        <div>
			Petnet: 
            <a href="http://18.209.195.68/feeding">Feeding</a>
            <a href="http://18.209.195.68/lemonade">Lemonade</a>
            <a href="http://18.209.195.68">Go Back</a>
	</div>
        <hr>Welcome to PETNET-ECOSYSTEM
        <img src="home/bitnami/htdocs/Lightsail-Setup-Custom-Domain-SSL/Lightsail-Setup-Custom-Domain-SSL-main/lemonade_sleep.jpg">
        <!-- <ul>
            <li></li>
        </ul> -->
    </body>
</html>
